@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: "bebas neue";
}

html {
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    width: 100vw;
    height: 100vh;
}

.btn{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 30px; 
    font-size: 25px;
    background-color: rgb(37, 141, 201);
    border-radius: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 5px 5px 0 rgb(0, 0, 0, 0.8),
    0 0 10px rgb(0, 0, 0, 0.8);
}

.btn:active{
    transform: translate(-48%, -40%);
    box-shadow: none;
}
